#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=qmake --parallel


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)
# https://unix.stackexchange.com/questions/551926/why-dh-auto-install-and-dh-install-are-not-using-same-directory　
override_dh_install:
